.card {
    position: relative;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    * {
        color: #666;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-header {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-body {
        font-size: 16px;
        color: #666;
    }

    .card-footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        button {
            background-color: #0070f3;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #005bb5;
            }
        }
    }
}


.card-chevron {
    position: absolute;
    right: 25px;
    top: calc(40% - 25px);
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    transition: transform ease-in 0.3s;
    svg { 
        width: 40px;
        height: 40px;
        fill: #666
    }
    &[data-is-open=true] {
        transform: rotate(-90deg);
    }
}

.cardContainer {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    margin-top: -40px;
    padding: 20px;
    box-sizing: border-box;
     border-radius: 10px;
}