.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        max-width: 80vw;
        padding: 20px 40px;
        box-sizing: border-box;
        max-height: 80vh;
        overflow-y: auto;

        button {
            margin-bottom: 10px;
            background-color: #0070f3;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #005bb5;
            }
        }
    }
}
